{% extends "base.html" %}

{% load static %}
{% block title %}Register{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Register</h3>
            <hr>
            <form action="." method="post" autocomplete="off" class="shadow p-5">
                {% csrf_token %}
                {{form.as_p}}

                <input type="submit" value="Register" class="btn-success btn py-8 px-4">
                <div class="text-center text-primary fw-bold">
                    <small>Existing User? <a href="{% url 'userauth:login' %}" class="text-danger">Login Now</a></small>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}